<!doctype html>
<html lang="{{ request.locale.iso_code }}">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>{{ page_title }}</title>
  
  {{ content_for_header }}
  {{ 'base.css' | asset_url | stylesheet_tag }}
</head>
<body>
  <div class="page-container">
    {% section 'header' %}
    
    <main role="main" id="MainContent">
      {{ content_for_layout }}
    </main>

    {% section 'footer' %}
  </div>
</body>
</html> 